<!DOCTYPE html>
<html>
<head>
    <title>My E-Commerce Site</title>
</head>
<body>
    <header>
        <h1>Welcome to our E-Commerce Site</h1>
    </header>
    <nav>
        <ul>
            <li><p>If you already have an account, please <a href="{% url 'token_obtain_pair' %}">Login</a>.</p></li>
            <li><p>If you don't have an account yet, you can <a href="{% url 'user' %}">register</a>.</p></li>
            <!-- Add more links as needed -->
        </ul>
    </nav>
    <main>
        <p>Explore our wide range of products and find amazing deals!</p>
    </main>
    <footer>
        <p>&copy; 2023 My E-Commerce Site</p>
    </footer>
</body>
</html>
